@import url('https://fonts.googleapis.com/css?family=Inconsolata');
.home{
    background: url("../images/PhoenixEdge.png");
    background-size: cover;
    height: 150vh;
    background-color:cyan;
    background-position: center;
}
.home .home-content{
    position: fixed;
    top: 10cm;
    left: 0cm;
    right: 0cm;
    bottom:0cm;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    color: orangered;
    font-family: 'Inconsolata', monospace;
}
.nav{
    height: 50px;
    background: orangered;
    border-color: yellowgreen;
    border-width: 5px;
    border-style: solid;
    border-radius: 30%
    
}
.nav div{
    display: inline-block;
    position: absolute;
    left: 10;
    padding: 15px;
    font-size: 25px;
    color: black;
    font-family: 'Inconsolata', monospace;
}
.nav ul{
    position: absolute;
    right: 10px;
}
.nav ul li{
    display: inline-block;
}
.nav ul li a{
    color: black;
    padding: 15px;
    font-family: 'Inconsolata', monospace;
}
.nav ul li a:active{
    color:royalblue;
}
.nav ul li a:link{
    color: goldenrod;
}
.nav ul li a:visited{
    color: black;
}
.about{
    font-family: 'Inconsolata', monospace;
    color: orangered;
    background-color: cyan;
    background-size: contain;
    height: 150vh;
}
.about .about-content{
    text-align: center;
    position: fixed;
    top: 5cm;
    left: 0cm;
    right: 0cm;
    bottom:0cm;
}
.about .about-content p{
    font-size: 25px;
    overflow: auto;
}
.contact{
    font-family: 'Inconsolata', monospace;
    color: orangered;
    background-color: cyan;
    background-size: contain;
    height: 150vh;
}
.contact .contact-content{
    text-align: center;
    position: fixed;
    top: 5cm;
    left: 0cm;
    right: 0cm;
    bottom:0cm;
}
.contact .contact-content p{
    font-size: 20px;
}
.hover:hover{
    background-color: RED;
}