@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@media screen and (max-width: 720px){
    p{
        font-size: 16px;
    }
}
@media screen and (min-width: 720px){
    p{
        font-size: 25px;
    }
}
@keyframes marquee-home {
    from { transform: translateY(0%); }
    to { transform: translateY(-100%); }
  }
@keyframes marquee-about-h1 {
    from { transform: translateX(0%); }
    to {transform: translateX(-100%); }
}
@keyframes marquee-about-p {
    from { transform: translateX(100%); }
    to { transform: translateX(0%); }
}
@keyframes marquee-contact-h1 {
    from { transform: scale(5.5); }
    to { transform: scale(2.5); }
}
@keyframes marquee-contact-p {
    from { transform: scale(0.25); }
    to {transform: scale(1.5); }
}
.home{
    background: url("../images/PhoenixEdge.png");
    background-size: cover;
    height: 150vh;
    background-color:cyan;
    background-position: center;
}
.home .home-content{
    position: fixed;
    top: 8cm;
    left: 0cm;
    right: 0cm;
    bottom:0cm;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    color: orangered;
    font-family: 'Inconsolata', monospace;
}
.home .home-content h1{
    animation: marquee-home 4s reverse;
}
.home .home-content h2{
    animation: marquee-home 4s forwards;
}
.nav{
    height: 50px;
    background: orangered;
    border-color: yellowgreen;
    border-width: 5px;
    border-style: solid;
    border-radius: 30%
    
}
.nav div{
    display: inline-block;
    position: absolute;
    left: 10;
    padding: 15px;
    font-size: 25px;
    color: black;
    font-family: 'Inconsolata', monospace;
}
.nav ul{
    position: absolute;
    right: 10px;
}
.nav ul li{
    display: inline-block;
}
.nav ul li a{
    color: black;
    padding: 15px;
    font-family: 'Inconsolata', monospace;
}
.nav ul li a:active{
    color:royalblue;
}
.nav ul li a:link{
    color: goldenrod;
}
.nav ul li a:visited{
    color: black;
}
.about{
    font-family: 'Inconsolata', monospace;
    color: orangered;
    background-color: cyan;
    background-size: contain;
    height: 150vh;
}
.about .about-content{
    text-align: center;
    position: fixed;
    top: 5cm;
    left: 0cm;
    right: 0cm;
    bottom:0cm;
}
.about .about-content h1{
    animation: marquee-about-h1 2s reverse;
}
.about .about-content p{
    font-size: 25px;
    overflow: auto;
    animation: marquee-about-p 3s linear;
}
.contact{
    font-family: 'Inconsolata', monospace;
    color: orangered;
    background-color: cyan;
    background-size: contain;
    height: 150vh;
}
.contact .contact-content{
    text-align: center;
    position: fixed;
    top: 5cm;
    left: 0cm;
    right: 0cm;
    bottom:0cm;
}
.contact .contact-content h1{
    animation: marquee-contact-h1 4s;
}
.contact .contact-content p{
    font-size: 20px;
    animation: marquee-contact-p 2s;
}
.hover{
    position: fixed;
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    text-shadow: 2px 2px 2px;
    line-height: 5.5;
    padding: 0 25px;
    text-align: center;
    color: black;
    background-color: green;
    border-radius: 10px;
    height: 5vh;
    margin: 200px;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);

}
.hover:hover{
    background-color: RED;
}